.App {
  text-align: center;
  background-color: #282c34;
  color: #61dafb;

}

.SearchBar{
  border: 2px solid salmon;
}
.App-header {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.CommentSection{
  background: black;
  
}

.comment{
  border: 2px solid turquoise;
}

.App-link {
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.post{
  border: 2px solid pink;
  margin-top: 3rem;
}